<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SaveTheKittensExceptTheHairlessOnes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1409F3251E0F387A0088F6D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1409F33C1E0F387A0088F6D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1409F3471E0F387A0088F6D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
